*{
	border:0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-primary: #E04018;
    --color-secundary: #FF9A3C;
    --color-back: #000;
    --color-white: #fff;
}

body{
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%);
    padding: 0 1rem;
}

header, .hero-section, .courses-section, footer{
	border-color: var(--color-back);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding: 1.25rem;
	
}

header img {
	display: block;
	margin: 1rem auto;
}

header nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

a {
	color: var(--color-back);
	font-size: 1.25rem;
	margin: .5rem;
	text-decoration: none;
	
}

header nav a:nth-child(2n-1) {
	text-align: right;

}

.button {
	background-color: var(--color-primary);
	border: 2px solid var(--color-back);
	box-shadow: 4px 4px 0 var(--color-back);
	color: var(--color-back);
	display: block;
	font-size: 1.25rem;
	padding: .75rem 1rem;
	max-width: 16rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.hero-section{
	padding-right: 0;
	padding-bottom: 16rem;

	
}

.hero-section img {
	display: block;
	margin: 1.25rem 0 0 auto;
	max-width: 100%;

}

h2,h1{
	font-size: 3rem;
	line-height: 105%;
}

.hero-section p {
	font-size: 1.25rem;
	padding-right: 1.25rem;
}

.hero-section .button {
	position: relative;
}

.decoration{
	display: block;
	position: relative;
}

.decoration::after{
	content: '';
	background: url('img/three-dashes.svg');
	position: absolute;
	margin-top: -0.75rem;
	height: 36px;
	width: 40px;

}

.courses-section{
	
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	margin-top: -0.8rem ;
	margin-bottom: 4rem;
}

.cards{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.hero-section .button::after{
	content: '';
	background: url('img/arrow-curve.svg');
	position: absolute;
	top: 5rem;
	right: -4rem;
	height: 48px;
	width: 132px;
}

.card{
	background-color: var(--color-primary);
	border: solid var(--color-back) 2px;
	box-shadow: 4px 4px 0 var(--color-back);
	margin-bottom: 0.8rem;
	max-width: 17rem;
	padding: 2rem  2rem;
}

.card:nth-child(2n){
	align-self: end;
	background-color: var(--color-secundary);
}

.card strong {
	display: block;
	font-size: 1.5rem;
	margin: 1rem 0;
}

.card a {
	display: block;
	margin: 3rem 0 0 auto;
	width: fit-content;
}

/* Rodapé */


footer{
	border-bottom: 0;
	padding: 1rem 1.25rem 4rem;
}

footer  a {
	display: block;
	padding-left: 0;
}

.newsletter label {
	display: block;
	font-size: 1.5rem;
}

.newsletter input{
	border: solid 2px var(--color-back);
	box-shadow: 4px 4px 0 var(--color-back);
	font-size: 1.5rem;
	padding: .5rem;
	width: 100%;
}
/* Classe de Utilitários */

.mt-1{
	margin-top: 1rem;
}

.mt-2{
	margin-top: 2rem;
}

.mb-1{
	margin-bottom: 1rem;
}

.mb-2{
	margin-bottom: 2rem;
}

.mx-auto{
	margin-left: auto;
	margin-right: auto;
}

.text-primary{
	color: var(--color-primary)
}

.text-center{
	text-align: center;
}

@media screen and (min-width:40rem) {
	
	header nav  {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.cards{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.card:nth-child(2n){
		margin-top: 1rem;
	}
}

@media screen and( min-width: 48rem){

	header div {
		justify-content: space-between;
	}

	header img,
	header nav,
	header .button {
		margin: 0;
	}

	@media screen (min-width: 72rem) {
		
	}
}